*{
    margin: O;
    padding: 0;

}

.sect_accueil{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows:repeat(3,1fr);
background-color: darkcyan;
gap: 1.6em;
}

section{
    display: flex;
    justify-content: space-between;
    
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #17a8d8;
    outline: none;
}
