*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
 h1 {
  font-family: 'Abril Fatface', cursive;


 }
h1,h3{
  color: #d05270;
}
body{
    max-width: 100%;
    height: auto;
    margin:1em;
   box-shadow: 3px 3px 20px 6px;
  }

  main{
    max-width: 1280px;
    margin: auto;
    margin-top:2rem;
}
.article-img{
  margin: auto;
}
    
  .sect-header h1{
    font-size: 40px;
    
    
}
h2{
    font-size: 30px;
    margin: 20px 0; 
}
h3,h2{
  color: blue;
  margin: 20px 0;
}
p{
  margin: auto;
margin-bottom: 50px;
margin-bottom: 10px;
}
.sect-header h1{
 font-weight: bold;
 margin-bottom: 10px;
 
}
 .sect-header h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.sect-header p{
  margin-bottom: 20px;
}

  
  nav{
    display:flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 10%;
    margin-bottom: 2em;
    }

  ul{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .sect-header{
    display:flex;
    justify-content: space-around;
    max-width: 100%;
    margin: 0% 10%;
    padding-left: 30px;
    gap: 10%;
    margin-bottom: 10%;
    }
    .sect-header div{
      margin: auto;
      width: 65%;
      }

  .sect-header img{
    width: 35%;
    margin: auto;
    margin-bottom: 50px;
  }
  .sect-header h2,
  .sect-accueil h3{
    color: black;

  }




.fa { 
    padding:10px 20px;  
    text-align: center; 
    text-decoration: none;
    margin: 5px 2px;  
    font-size: 30px;  
    width: 25%; 
    outline: none; 
    font-size: 5px;
  }  

.fa-twitter {  
  background: #55ACEE;  
  color: white;  
} 

.fa-linkedin {  
    background: #007bb5;  
    color: white;  
  }  

  .fa-medium {  
    background: #000507;  
    color: white;  
  }



.fa-twitter {  
  background: #55ACEE;  
  color: white;  
} 

.fa-linkedin {  
    background: #007bb5;  
    color: white;  
  }  

  .fa-medium {  
    background: #000507;  
    color: white;  
  }  
.sect-accueil{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr) ;
    max-width: 100%;
    margin: 0 10%;
    gap: 1rem;
    
    
}
.sect-accueil img{
    width: 100%;
  
    }
    .sect-accueil h3{
      color:#d05270 ;
    }

figcaption a  {
  color:#d05270;
  position: relative;
  display: inline-block;
  
}
figcaption a:before{
  position: absolute;
    height: 1px;
    width: 70%;
    left: 0;
    bottom: -1px;
    background: #d05270;
    display: block;
    content: "";

}



 

.sect-accueil img,
.sect-accueil h5,
.sect-accueil h3,
.sect-accueil p{
  margin-bottom:1rem ;
}
.sect-accueil article{
  margin-bottom: 3em;
}

  .logo{
    width: 200px;
    margin: auto;
        }
    