*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
 
h1,h3{
  color: #d05270;
}
body{
    max-width: 100%;
    height: auto;
    margin:1em;
   box-shadow: 3px 3px 20px 6px;
  }

  main{
    max-width: 1280px;
    margin: auto;
    margin-top:2rem;
}
.article-img{
  margin: auto;
}
.sect-header 
  h1{
    font-size: 40px;
    margin: 20px 0; 
}
    
  header h1{
    font-size: 40px;
    margin: 20px 0; 
}
h2{
    font-size: 30px;
    margin: 20px 0; 
}
h3,h2{
  color: blue;
  margin: 20px 0;
}
p{
  margin: auto;
margin-bottom: 50px;


    margin-bottom: 10px;
}
.article-img{
  margin-bottom:  30px;
    
    width: 100%;
  }
  
 .sect-header h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.sect-header p{
  margin-bottom: 20px;
}

  
  nav{
    display:flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 10%;
    margin-bottom: 2em;
    
    
    
  }
  ul{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .sect-header{
    display:flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 10%;
    padding:0 10px;
   
  }

  .sect-header img{
    width: 40%;
  }
  .sect-header h2,
  .sect-accueil h3{
    color: black;

  }


  .button {
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button1 {
    background-color: #1da1f2 ;
    color: rgb(255, 255, 255);
  }
  
  
  .button2 {
    background-color: #007bb5;
    color: white;
  }

  .button3 {
    background-color: #000000;
    color: white;
  }
  

.fa { 
    padding:10px 20px;  
    text-align: center; 
    text-decoration: none;
    margin: 5px 2px;  
    font-size: 30px;  
    width: 100px; 
    outline: none; 
    font-size: 5px;
  }  

.fa-twitter {  
  background: #55ACEE;  
  color: white;  
} 

.fa-linkedin {  
    background: #007bb5;  
    color: white;  
  }  

  .fa-medium {  
    background: #000507;  
    color: white;  
  }



.fa-twitter {  
  background: #55ACEE;  
  color: white;  
} 

.fa-linkedin {  
    background: #007bb5;  
    color: white;  
  }  

  .fa-medium {  
    background: #000507;  
    color: white;  
  }  
.sect-accueil{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr) ;
    max-width: 100%;
    margin: 0 10%;
    gap: 1rem;
    
    
}
.sect-accueil img{
    width: 100%;
  
    }
    .sect-accueil h3{
      color:#d05270 ;
    }

figcaption a  {
  color:#d05270;
  position: relative;
  display: inline-block;
  
}
figcaption a:before{
  position: absolute;
    height: 1px;
    width: 70%;
    left: 0;
    bottom: -1px;
    background: #d05270;
    display: block;
    content: "";

} 

.sect-accueil img,
.sect-accueil h5,
.sect-accueil h3,
.sect-accueil p{
  margin-bottom:1rem ;
}
.sect-accueil article{
  margin-bottom: 3em;
}

  .logo{
    width: 200px;
    margin: auto;
        }


/* ========================================== propriéter bloc contact ===================================== */
.container {
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

form {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

 .contact-form {
  background-color: #e1466f;
  position: relative;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

/* =========================================effet texte & commentaire ====================================== */

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 1px;
  transition: 0.3s;
}

.title {
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
} 

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  resize: none;
  overflow-y: auto;
}

.contact-info .title {
  color: #d05270;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  font-size: 0.95rem;
  align-items: center;
}

.icon {
  font-size: 30px;
  color: #1a70bc;
  margin-right: 0.7rem;
}


 .input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.3s;
  color: #fafafa;
} 
 
.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #ffffff;
  font-size: 0.95rem;
  line-height: 1;
  color: #9c6db6;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  outline: none;
}

 .btn:hover {
  background-color: transparent;
  color: #fff;
} 
    /*============================================ css footer contact =================================================  */

    .footer-content
	 	{
	 		background-color: #d05270;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
	 	}
	 	

	 	.social
	 	{
	 		text-align: center;
	 		padding-top: 20px;
	 		padding-bottom: 20px;
	 	}

	 	.social a 
	 	{
	 		font-size: 20px;
	 		display: inline-block;
	 		border: 1px solid beige;
	 		color: whitesmoke;
	 		width: 50px;
	 		padding: 10px;
	 		border-radius: 8px;
	 	}

	 	.social a:hover
	 	{
	 		background-color: #1da1f2;
	 	}

	 	.copy-right
	 	{
	 		text-align: center;
	 		padding-bottom: 30px;
	 		color: whitesmoke;
	 	}